In [ ]:
import requests
from tqdm import tqdm
import pandas as pd
from time import sleep

url = 'https://www.keyforgegame.com/api/decks/?page=<PAGE>&page_size=10&search=&power_level=0,11&chains=0,24&ordering=date&expansion=496'

# data = pd.DataFrame(columns=['deck', 'set_id'])
data = pd.read_table('./data/deck_names.tab', index_col=0)
output = []
for i in tqdm(range(1, 20000)):
    sleep(20)
    response = requests.get(url.replace('<PAGE>', str(i)))
    # print json content
    response_data = response.json()
    if 'data' in response_data.keys():
        for d in response_data['data']:
            output.append({
                'deck': d['name'],
                'set_id': d['expansion']
            })
    else:
        print(f"Error grabbing page {i}")
        print(response_data)
    

    
    data = data.append(output, ignore_index=True)
    output = []
    data.to_csv('./data/deck_names.tab', sep='\t')

 14%|██████████▏                                                            | 2873/19999 [16:35:26<98:58:23, 20.80s/it]

In [21]:
data.drop_duplicates().to_csv('./data/deck_names.tab', sep='\t')

In [22]:
data.drop_duplicates()

                                            deck  set_id
0                    Zim who is Deliberately Hot     496
1                             Herr U. Quill‑ance     496
2                          Capitol the Bellicose     496
3                Théo “Domino”, fermier du musée     479
4      Dounia la liquide, prophétesse de la base     479
...                                          ...     ...
56740       The Archon that Takes Out Turbulence     452
56741                   "Long Beard" Hubyr Rowan     496
56742                        Kamal “Ice” Cesmace     496
56743       “Bribes” Rashidi, Barracks Biologist     479
56744   G. Barth, Officer of the Tireless Sewers     479

[56251 rows x 2 columns]